

@import "mixins";
/*
	Reference Styling for An Interactive Row of Thumbnails
*/
$radius : -22.3em;
$width : 455px;
.useful-panorama {
	font-size: $width/40;
	height: 22.5em;
	width: 40em;
	margin: 0 auto 2em auto;
	padding: 0;
	-moz-perspective: 50em;
	-webkit-perspective: 50em;
	perspective: 50em;
	overflow : hidden;
	.pano-object {
		width: 7.2em;
		transform-style: preserve-3d;
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(16.4em, 1.2em, 30em);
		transition: transform ease 500ms;
	}
	.pano-row {
		transform-style: preserve-3d;
		-moz-animation: spin 25s infinite linear;
		-webkit-animation: spin 25s infinite linear;
		animation: spin 25s infinite linear;
	}
	.pano-col {
		position: absolute;
		background-repeat: repeat-x;
		background-size: 144.0em auto;
		height: 20.0em;
		width: 7.2em;
		backface-visibility: hidden;
		@for $i from 0 through 20 {
			&-#{$i*18} {
				background-position: $i*7.2em 50%;
				transform: rotateY($i*18deg) translateZ($radius);
			}
		}
	}
	&:hover .pano-row {
		-moz-animation-play-state: paused;
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
	}
	&.example-more .pano-object {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(16.4em, 1.2em, -4em);
	}
}

@-moz-keyframes spin {
	from { -moz-transform: rotateY(0); }
	to   { -moz-transform: rotateY(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotateY(0); }
	to   { -webkit-transform: rotateY(360deg); }
}

@keyframes spin {
	from { transform: rotateY(0); }
	to   { transform: rotateY(360deg); }
}

@media (max-width: 960px) {
	.useful-panorama {
		font-size: 9px;
	}
}

@media (max-width: 767px) {
	.useful-panorama {
		font-size: 10.75px;
	}
}

@media (max-width: 480px) {
	.useful-panorama {
		font-size: 7px;
	}
}
